/*--------------------------
BASIC SETUP
--------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------
NAV
--------------------------*/


/*--------------------------
SEARCH
--------------------------*/

select {
  height: 100px;
  padding-top: 5px;
  font-size: 22px;
  background: lightblue;
  border: 1px solid lightblue;
  border-top-left-radius: 0.15rem;
  border-bottom-left-radius: 0.15rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
}

select:focus,
input[type="text"]:focus {
  outline: 0;
}

input[type="text"] {
  /* font-family: "Karla"; */
  height: 100px;
  font-size: 22px;
  background: lightblue;
  border: 1px solid lightblue;
  padding: 0.75rem 1rem 0.75rem 1rem;
}

form {
  display: flex;
  align-items: flex-end;
}

input[type="submit"] {
  /* font-family: "Karla"; */
  height: 100px;
  font-size: 22px;
  background: lightblue;
  border: 1px solid lightblue;
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
}


/*--------------------------
BOOK
--------------------------*/

.Book {
  width: 250px;
  margin: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.Book img {
  max-width: 100%;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.author-span {
  display: block;
}

.category-span {
  display: block;
}

/*--------------------------
BOOK DETAILS
--------------------------*/