.Book {
  width: 250px;
  margin: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.Book img {
  max-width: 100%;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}